#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.app-container {
  display: flex;
  height: 100vh;
}

.chat-list-column {
  flex: 0 0 18.75rem; /* flex-basis set to 18.75rem */
  max-width: 18.75rem; /* max-width set to the same value to limit the width */
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.chat-messages-column {
  flex-grow: 1;
  overflow-y: auto;
  word-wrap: break-word;
}
