#root {
  width: 80rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.app-container {
  display: flex;
  height: 100vh;
}

.chat-list-column {
  flex: 0 0 18.75rem;
  max-width: 18.75rem;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.chat-list-column {
  flex: 0 0 18.75rem;
  max-width: 18.75rem;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}